@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary-400: #c79f8b;
  --color-primary-500: #af7e70;

  --color-secondary-500: #8f1728;
  --color-secondary-600: #7a141f;
  --color-secondary-700: #6b121a;
  --color-secondary-800: #5c0f15;
  --color-secondary-900: #4d0c10;

  --color-tertiary-400: #ff4d41;
  --color-tertiary-500: #ff5500;

  --color-noir-500: #1a1a1a;
  --color-noir-700: #131313;
  --color-noir-800: #0d0d0d;

  --font-one: "Carrois_Gothic_SC", sans-serif;
  --font-two: "Exo_2", sans-serif;
  --font-three: "Montserrat_Alternates", sans-serif;

  /* Définition de l'animation */
  --animation-duration: 40s;
  --animation-direction: forwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.shadowBox {
  box-shadow: 15px 15px 0.3px 0px rgba(26, 26, 26, 0.2);
}
